/*****************************
unique
*****************************/
.noScroll {
  overflow: hidden!important;
}

.sp {
  display: none!important;

  @include mobile {
    display: block!important;
  }
}

.pc {
  display: block!important;

  @include mobile {
    display: none!important;
  }
}

.sp--inline {
  display: none!important;

  @include mobile {
    display: inline-block!important;
  }
}

.pc--inline {
  display: inline-block!important;

  @include mobile {
    display: none!important;
  }
}