// swatch
$color-primary-black: #333;
$color-secondary-grey01: #333;
$color-secondary-grey02: #666;
$color-secondary-grey03: #999;
$color-secondary-grey04: #bbb;
$color-border01: #ccc;
$color-blue: #0033DC;
$color-lightBlue: #F5F8FB;


